RewriteEngine On
RewriteCond %{REQUEST_METHOD} !=POST
RewriteRule ^/?$ web_files/php_scripts/index.php [NC,L]
RewriteRule ^webservice/?$ web_files/webservices [NC,L]
RewriteRule ^webservice/current_user_points$ web_files/webservices/current_user_points.php [NC,L]
RewriteRule ^webservice/videos$ web_files/webservices/videos.php [NC,L]
RewriteRule ^webservice/video_comments$ web_files/webservices/video_comments.php [NC,L]
RewriteRule ^webservice/view_video$ web_files/webservices/view_video.php [NC,L]
RewriteRule ^webservice/comment_video$ web_files/webservices/comment_video.php [NC,L]
RewriteRule ^webservice/videolike$ web_files/webservices/videolike.php [NC,L]
RewriteRule ^webservice/updateuser$ web_files/webservices/updateuser.php [NC,L]
RewriteRule ^webservice/login web_files/webservices/login.php [NC,L]
RewriteRule ^webservice/geographic_units?$ web_files/webservices/geographic_units.php [NC,L]
RewriteRule ^webservice/registration?$ web_files/webservices/registration.php [NC,L]
RewriteRule ^webservice/change_password?$ web_files/webservices/change_password.php [NC,L]
RewriteRule ^webservice/videolike?$ web_files/webservices/videolike.php [NC,L]
RewriteRule ^webservice/deactivate?$ web_files/webservices/deactivate.php [NC,L]
RewriteRule ^webservice/activate_user?$ web_files/webservices/activate_user.php [NC,L]
RewriteRule ^webservice/change_telecomm$ web_files/webservices/change_telecomm.php [NC,L]
RewriteRule ^webservice/telecomm_operators?$ web_files/webservices/telecomm_operators.php [NC,L]
RewriteRule ^webservice/add_telecomm_user?$ web_files/webservices/add_telecomm_user.php [NC,L]
RewriteRule ^webservice/check_phone_number?$ web_files/webservices/check_phone_number.php [NC,L]
RewriteRule ^webservice/points_stats?$ web_files/webservices/points_stats.php [NC,L]
RewriteRule ^admin/videos$ web_files/php_scripts/admin_videos.php [NC,L]
#RewriteRule ^ajax/video/add$ web_files/ajax_scripts/admin_addNewVideo.ajax.php?title=$1&url=$2 [NC,L]